# Port konfigurasi server backend
PORT=5000

# Pengaturan Lingkungan
NODE_ENV=development

# Email Notification Service (Opsional jika ingin forward ke SMTP/Resend)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=farhn.mhmmad@gmail.com
# SMTP_PASS=your-app-password
